extends layout

block content
  body.d-flex.h-100.text-center.text-white.bg-dark
    div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.mb-auto
        div
          h3.float-md-start.md-0 Map
          nav.nav.nav-masthead.justify-content-center.float-md-end
            a(href='/').nav-link Home
            a.nav-link.active Features
            a(href='/contact').nav-link Contact
            div#map.map
              script.
                  //map(#{bikeCoords});
                  //getLocation();
                  test();
            footer.mt-auto.text-white-50
              h1= bikeId
              h1= bikeCoords
              h1= bikeBattery
              h1= travelCost
              button.btn-added-red.w-100.btn.btn-lg.btn-primary(type="submit") Rent
