extends layout

block content
  body.d-flex.h-100.text-center.text-white.bg-dark
    div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.mb-auto
        div
          h3.float-md-start.md-0 Home (QR)
          nav.nav.nav-masthead.justify-content-center.float-md-end
            div#map.map
              script.
                timer();
                crtMap2(#{bCrd});
                //console.log(#{bCrd});
        h1.bikeId= bId
        h1.bikeCoords= bCrd
        h1.crtEmail= usr
        p.lead
          a(href='#').btn.btn-lg.btn-secondary.fw-bold.border-white.bg-white(onclick="endRent()") Return
      footer.mt-auto.text-white-50
        p Cover template for test.
