extends layout

block content
  body.d-flex.h-100.text-center.text-white.bg-dark
    div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column.mapflow
      header.mb-auto
        div
          img.scooter(src= '/images/scooter.svg')
          nav.nav.nav-masthead.justify-content-center.float-md-end
            div#map.map
              script.
                  //map(#{bikeCoords});
                  //getLocation();
                  crtMap();
            footer.mt-auto.text-white-50
            form(method="POST", action="/map")
              h1.bike_Id(name='bike_Id')= bikeId
              input.bikeId(type="hidden", name='bikeId', value=bikeId)= bikeId
              h1.bike_Coords(name='bike_Coords')= bikeCoords
              input.bikeCoords(type="hidden", name='bikeCoords', value=bikeCoords)
              h1#bike_Img(name='bike_Img')= bikeImg
              //h1.bikeBattery= bikeBattery
              //h1.travelCost= travelCost
              button#rentBtn.btn-added-red.w-100.btn.btn-lg.btn-primary(type="submit", onclick="rent()", hidden="hidden") Rent
